h1 {
  color: red;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 5px;
  padding: 5px;
}

#listing {
  display: flex;
  justify-content: space-between;

  #text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    #id {
      display: flex;
      justify-content: flex-start;

      #handle {
        margin: 0;
        padding: 0;
      }
    }

    #job {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      // #name{

      // }

      #service {
        display: flex;
        align-items: flex-end;
      }

      // #hourly{

      // }
    }
  }

  #showcase {
    display: flex;
    justify-content: flex-end;
    .showcase {
      height: 80px;
      width: 80px;
      object-fit: cover;
    }
  }
}
